[submodule ".vim/bundle/julian-vim"]
	path = .vim/bundle/julian-vim
	url = https://github.com/JuliaLang/julia-vim.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule ".vim/bundle/powerline-fonts"]
	path = .vim/bundle/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/bundle/vim-characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/bundle/jedi-vim"]
    url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/jedi-vim/jedi"]
    url = https://github.com/davidhalter/jedi.git
[submodule "bash-completion"]
	path = bash-completion
	url = git://git.debian.org/git/bash-completion/bash-completion.git
